{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": [
          "last 2 versions",
          "safari >= 7"
        ]
      }
    }],
    "react"
  ],
  "plugins": [
    "babel-plugin-transform-object-rest-spread",
    "babel-plugin-polished"
  ]
}
